<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="./../styles/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Lorem Ipsum</title>
  </head>
  <body>
    <nav>
      <div id="myTopnav" class="topnav">
        <ul>
          <a href="./../index.html">
            <li class="active">
              Home
            </li>
          </a>
          <a href="./about.html">
            <li>
              About Me
            </li>
          </a>
          <a href="javascript:void(0);" class="icon" onclick="unfoldNav()">
            <li>
              <i class="fa fa-bars"></i>
            </li>
          </a>
        </ul>
      </div>
      <script>
      function unfoldNav() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
      </script>
    </nav>
    <p>
      Lorem Ipsum
    </p>
  </body>
</html>
