/* General Layout */
html {
  width: 100%;
  height: 100%;
  background: #333333;
  display: flex;
  justify-content: center;
}

body {
  padding: 0 10px;
  margin: 0 auto;
  font-size: 16px;
  font-family: verdana, sans-serif;
  background: #b2b2b2;
  color: #222222;
  height: 100%;
  width: 90%;
  border-left: 2px solid #ffffaa;
  border-right: 2px solid #ffffaa;
}

.actionLink div {
  background: #333333;
  border: 2px solid #ffffaa;
  width: 20%;
  padding: 10px 0;
}


.actionLink {
  font-size: 20px;
  text-decoration: none;
  color: #b2b2b2;
  display: flex;
  justify-content: center;
}
/* Navigation Menu */
nav ul {
  padding: 0;
}
nav a {
  text-decoration: none;
  color: #b2b2b2;
  font-size: 20px;
}

nav li {
  list-style-type: none;
  display: inline-block;
  width: 15%;
  padding: 10px 0;
  text-align: center;
  border: 2px solid #ffffaa;
  background-color: #333333;
}

nav .active {
  color: #ffffaa;
  font-weight: bold;
}
